<form action="/index" method="post">
	<table>
		<tbody>
			<tr>
				<td>Name:</td>
				<td><input type="text" value="" class="txtfield"></td>
			</tr> <tr>
				<td>Email:</td>
				<td><input type="text" value="" class="txtfield"></td>
			</tr> <tr>
				<td>Subject:</td>
			    <td><input type="text" value="" class="txtfield"></td>
			</tr> <tr>
				<td class="txtarea">Message:</td>
				<td><textarea></textarea></td>
			</tr> <tr>
				<td></td>
				<td><input type="submit" value="" class="btn"></td>
			</tr>
		</tbody>
	</table>
</form>