<div id="sidebar">
	<div class="section">
		<a href="/rooms"><img src="images/rooms.png" alt="Img"></a>
	</div>
	<div class="section">
		<a href="/travel"><img src="images/dive-site.png" alt="Img"></a>
	</div>
	<div class="section">
		<a href="/meals"><img src="images/food.png" alt="Img"></a>
	</div>
</div>
